{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <a href="{{ path("app_campaigns_index") }}">
            LOGIN
        </a>
    </div>
{% endblock %}

{% block title %}
    Main
{% endblock %}

